body {
  margin: 0;
}

nav {
  position: absolute;
  width: 100vw;
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  border: 1px solid red;
  text-decoration: none;
  color: #000;
}