/* VARIABLES */
:root {
  --background: #000;
  --foreground: #fff;
  --opacity: #00000080;
  --accent: #ff0000;
}

/* FONT */
h1 {
  color: var(--accent);
  font-size: 3em;
  margin: 0;
}
h2 {
  font-size: 2em;
  margin: 0;
}
h3 {
  font-size: 1.5em;
  margin: 0;
}
p {
  font-size: 1.2em;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}

/* NAVIGATION */
nav {
  box-sizing: border-box;
  background: linear-gradient(var(--opacity), transparent);
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: var(--background);
  padding: 10px;
  text-decoration: none;
  color: var(--foreground);
  font-size: 1.2em;
}

/* LANDING */
.landing {
  background: linear-gradient(var(--opacity), var(--background)),
    url(assets/img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 100px;
}
.landing div {
  width: 50%;
  margin-right: 50px;
}

.landing img {
  height: 400px;
}

/* MAIN */
main {
  padding: 50px;
}

main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

main article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

main .img {
  text-align: center;
}

main img {
  height: 300px;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  padding: 50px;
}

footer .socials {
  width: 50%;
  margin: 0;
  padding: 0;
}

footer .socials li {
  display: inline-block;
}

footer .socials a {
  color: var(--foreground);
  margin-right: 20px;
  font-size: 1.2em;
}

footer .copyright {
  width: 50%;
  text-align: right;
  font-size: 1.2em;
  color: var(--foreground);
  text-decoration: none;
}
